/ai/salem/knowledge/*
/ai/salem/knowledge_old/*
/ai/shared_knowledge/*
*.db
/db/*
/ai/org/*
/ai/org_vl/*
*.wav
*.mp3
/etc/*
/.idea/*
/temp/*
/cogsetc/*
filters.txt
*/__pycache__/*
/ai/tmp/*
*.pyc
/venv1/*
*.ini
*.json
